{{template "base" .}}
{{define "content"}}
    <div class="text-center">
        <h2>Home</h2>
        <hr/>
    </div>
    {{block "helloworld-top" .}}
    {{end}}
    {{block "helloworld-bottom" .}}
    {{end}}
{{end}}